/*++++++++++++ GENERAL+++++++++++++*/
/*==== import {====*/
@import "fonts.css";
@import "normalize.css";
@import "header.css";
@import "content.css";
/*==== import }====*/

/*
body {
	font-family:  arial;
	font-size: 20px;
}
.wrapper {
	margin: 0 auto;
}
*/
.clearfix::after {
    content: "#######################";
    clear: both;
    display: table;
    color: green;
    background-color: red;
}
* {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
ul,
li,
input {
	margin: 0;
  	padding: 0;
  	list-style-type: none;   
}
.positioner {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
body {
	color: #f9f9f9; 
}


/*++++++++++++ MAIN +++++++++++++++*/

.slider {
	font-family: "League Gothic Regular";
	height: 396px;
	background: rgba(0, 0, 0, 0.5);
}
.slider__wraper {
	position: relative;
}
.slider__article {
	float: left;
	width: 400px;
}
.slider__h1 {
	font-size: 60px;
	color: #fefefe;
	margin: 0;
}
.slider__h2 {
	font-size: 32px;
	color: #edbfff;
}
.slider__p {
	font-family: "Open Sans Light";
	font-size: 18px;
	color: #fff;
}
.slider__img {
	position: absolute;
	top: -20px;
	right: 0;
	width: 500px;
	height: 500px;
}

/*===== MAIN CONTENT =========*/
/*====/ MAIN CONTENT =========*/

/*+++++++++++/ MAIN +++++++++++++++*/




/*++++++++++++ FOOTER +++++++++++++*/
footer {}
/*+++++++++++/ FOOTER +++++++++++++*/
